.general{
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    font-family: MyriadPro, sans-serif;
}

.logo{
    font-size: 74px;
    margin-top: 61px;
}

.logo a { text-decoration: none;
}

.first-partword {
    color: black;
}

.second-partword{
    color: #4bcaff;
}

.top-menu{
    margin-top: 45px;
    width: 100%;
    background: #35444f;
    text-align: center;
    font-size: 19.5px;
    margin-bottom: 50px;

}

.top-menu li{
    display: inline-block;
    padding: 26px 41px;

}

.top-menu a {
    text-decoration: none;
    font-family: MyriadPro, sans-serif;
    color: #ffffff;
}

.top-menu li:hover {
    background: #222f3a;
}
main {
    display: inline-block;
    font-size: 0px;

}
.sidebar-menu{
    display: inline-block;
    font-size: 0px;
    width: 345px;
    vertical-align: top;
    border: 1px solid #35444f;
    box-sizing: content-box;
}
.sidebar {
    width: 345px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #35444f;
    font-size: 0px;
    box-sizing: content-box;


}
.sidebar  a {
    display: inline-block;
    width: 345px;
    font-size: 25px;
    text-decoration: none;
    padding:27px 44px;
    color: #495863;
    box-sizing: border-box;

}




.ramda-img{
    display: inline-block;
    font-size: 18px;

}
.simple-img{
    display: inline-block;
    margin-left: 47px;
    margin-bottom: 50px;
    margin-top: 5px;
    border: 1px solid #35444f;
    width: 883px;
}
.simple-img:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

.text {
    width: 815px;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 1.5;
}
.text p {
    padding-bottom: 30px;
}

.sidebar li  :hover{
    background-color: #dbdbdb;
    padding-left: 70px;
}

.footer-menu {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: #b4b7ba;
    color:#0c1927;
    font-size: 0px;
}

.footer-item {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 22px 25px;
    font-size: 19.5px;
    text-decoration: none;
}

.footer-item:visited {
    color:#0c1927;
}

.footer-item:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copyright-info {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 24px 34px 24px 51px;
    margin-left: 227px;
    font-size: 20px;
}